*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #ffffff;
    color: #000000;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 18px 40px;
    position: sticky;
    top: 0;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links li {
    list-style: none;
  }
  
.nav-links a {
text-decoration: none;
color: #000000;
font-weight: bold;
}
.nav-links a:hover {
    transition: 0.3s ease;
    font-size: 18px;
    color: #2db5a5;
}
.logo{
    font-size: 40px;
    font-weight: bold;
}

.section {
    padding: 100px 20px;
    height: auto;           
    text-align: center;
  }

.home{
    background-color: white;
    color: #000000;

}

.home h1 {
    font-size: 68px;
    font-weight: bold;
    padding-top: 70px;

  }
  
  .home h1 span {
    color: #0077FF;
  }
  
  .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background: #257c5e;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;

  }
  
  .btn:hover {
    background: #555;
  }

  .about {
    width: 85%;
    margin: 0 auto;
    background-color: #e6e6e6;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  }
  .about span {
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    color: #000000;
  }
  .about h2{
    color: #737373;
  }
  .about p{
    padding-top: 20px;
  }
  .skills-div {
    width: 80%;
    max-width: 900px; 
    margin: 0 auto;
    background-color: #e6e6e6;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  }
  
  .skills-container {
    display: flex;
    flex-wrap: wrap;      
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  .skill {
    background: #333;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    flex: 0 1 calc(50% - 15px);
    text-align: center;
  }
  
  .project-div{
    width: 80%;
    max-width: 900px; 
    margin: 0 auto;
    background-color: #e6e6e6;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  }

  .project-card {
    background: white;
    margin: 10px auto;
    width: 60%;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  }
  

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: auto;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .contact-form button {
    background: #667eea;
    color: white;
    border: none;
    padding: 12px;
  }
  

  footer {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
  }
  

  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .home h1 {
      font-size: 32px;
    }
  
    .project-card {
      width: 90%;
    }
  }
  @media (max-width: 900px) {
    .skills-div {
      width: 90%;              
    }
  }
  
  @media (max-width: 600px) {
    .skills-div {
      width: 95%;
    }
  
    .skill {
      flex: 0 1 calc(50% - 15px);  
    }
  }
  